/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #FADCE4;
    padding: 0 15px;
}
body::after {
    content: "";
    display: block;
    height: 1px;
}
.wrapper {
    box-sizing: content-box;
    background: #fff;
    max-width: 595px;
    padding: 0 40px;
    border: 1px solid black;
    margin: 50px auto 50px;
    box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.49);
}

.header {
    padding: 40px 0 25px 0;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid gray;
}
.header__image-side {
    max-width: 115px;
    overflow: hidden;
    border-radius: 5px;
}
.header__image-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__content-side {
}
.header__subtitle {
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    opacity: 0.7;
    margin: 0 0 11px 0;
}
.header__fio {
    font-family: 'Josefin Sans';
    letter-spacing: -0.01em;
    font-size: 25px;
    margin: 0 0 7px 0;
}
.header__contacts {
    display: grid;
    grid-template: repeat(3, auto)/ repeat(2,auto);
    max-height: 54px;
    row-gap: 10px;
    column-gap: 41px;
}
.header__contacts-elem {
    font-size: 11px;
    letter-spacing: 0.01em;
    opacity: 0.7;
}

/*-PROFILE----------------------------*/

.profile {
    padding: 20px 0;
    border-bottom: 1px solid gray;
}
.profile__title {
    margin: 0 0 9px 0;
}
.profile__text {
    font-size: 11px;
    line-height: 164%;
    letter-spacing: 0.01em;
    opacity: 0.7;
}

.title {
    font-family: 'Josefin Sans';
    line-height: 107%;  
    letter-spacing: -0.02em;
}

.main {
    padding: 27px 0 40px 0;
    display: flex;
}
.main section:not(:last-child){
    margin-bottom: 15px;
}
.main__experience-side {
    flex: 0 1 64%;
    min-width: 0;
    padding-right: 29.5px;
    border-right: 1px solid gray;
}
.main__education {
}
.education {
    margin: 0 0 25px 0;
}
.education__title {
    margin-bottom: 15px;
}
.title {
}
.education__list {
}
.education__list-item {
}

.education__years-of-learning {
}

.education__specialization {
    
}

.main__skills-side {
    flex: 0 1 36%;
    min-width: 0;
}


.list-item {
}
.list-item__subtitle{
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans';
}
.list-item__subtitle span{
    font-family: 'Raleway';
    margin-right: 13px;
    opacity: 0.5;
    font-size: 10px;
    line-height: 180%;
}

.list-item__text {
    font-size: 11px;
    opacity: 0.7;
}

.education__subtitle {
    margin-bottom: 6px;
}

.education__list-item-text {
    
}

.list-item__specialization {
    font-family: 'Josefin Sans'; 
    font-size: 12px;
    line-height: 133%;
}

.list-item__years-of-learning {
    font-size: 10px;
    line-height: 180%;
    opacity: 0.5;
}

/*--------EMPLOYMENT--------**/

.employment {
}
.employment__title {
    margin-bottom: 15px;
}

.employment__list {
}
.employment__list-item {
}

.employment__subtitle {
    margin-bottom: 6px;
}

.employment__list-item-text {
}


/*-SKILLS-SIDE-------------------------**/

.main__skills-side{
    padding-left: 17px;
}


.skills {
}
.skills__title {
    margin-bottom: 15px;
}
.title {
}
.skills__list {
    list-style-type: disc;
}
.skills__item {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.skills__item:not(:last-child) {
    margin-bottom: 10px;

}


.languages {
}
.languages__title {
    margin-bottom: 15px;
}

.languages__list {
}
.languages__item {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}
.languages__item span{
    font-family: 'Raleway';
    font-size: 10px;
    opacity: 0.5;
}
.languages__item:not(:last-child) {
    margin-bottom: 10px;
}

/*-footer-------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer__my-github-block {
    display: flex;
    gap: 5px;
    align-items: center;
}
.footer__my-github-block::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(./images/github-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__my-github-block a{
    color: #000;
    opacity: 0.5;

}
.footer__year-of-creation {
}
.footer__rs-link {
}
.footer__rs-link img{
    height: 17px;
}

/*-projects-block-----------------------*/

.projects {
    padding: 20px 0;
}
.projects__title {
    margin-bottom: 15px;
}
.title {
}
.projects__menu {
}
.projects__menu-items {
}
.projects__item {
}
.projects__item:not(:last-child) {
    margin-bottom: 10px;
}
.projects__item-subtitle {
    margin-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.projects__item-subtitle a{
    color: inherit;
}

.projects__item-text {
}